.funnel {
    border: 5px solid black;
    border-radius: 30px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    .funnel-item {
        color: white;
        font-weight: 800;
        max-width: min-content;
        margin: 10px;
        transition: 0.2s;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
}