#App {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    .heading{
        margin: 50px;
        #title {
            font-size: 36px;
            font-weight: 800;
        }
        #subtitle {
            font-size: 26px;
            font-weight: normal;
        }
    }
    #scrollers {
        display: flex;
        flex-flow: row nowrap;
        padding: 30px;
        overflow: hidden;
        box-sizing: border-box;
        justify-content: center;
    }
    #results {
        display: flex;
        flex-flow: column nowrap;
        padding: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        box-sizing: border-box;
    }
}